<div class="contenedorSecret animate__animated animate__zoomIn">
  <div>
    <div class="d-flex justify-content-between ">

      <div>
        <p class="text-white fs-2 ms-3 mt-3">Hola {{user}}</p>
      </div>

      <div class="ml-auto mt-2 p-2">
        <a href="/login/logout">
          <input type="button" class="btn btn-danger" value="Cerrar stock">
        </a>
      </div>

    </div>
  </div>

  {{!-- CRUD--}}
  <div class="table-responsive-md  mx-5" id="table">

    <table class="table table table-dark table-striped   ">

      <thead class="font-size-1">
        {{!-- recorre lo que viene en data y lo mostramos en tabla --}}
        <tr class="text-center">
          <th colspan="7">
            <h1 class="bg-dark bg-gradient text-center text-white animate__animated animate__zoomIn  fs-1 ">Mercaderia
              en depósito </h1>
            <a href="/secret/addItem"><button class="btn btn-primary ">Agregar</button></a>

          </th>
        </tr>


        <tr>
          <th scope="col">Id</th>
          <th scope="col">Tipo</th>
          <th scope="col">Color</th>
          <th scope="col">Talle</th>
          <th scope="col">Stock</th>
          <th scope="col">Imagen</th>
          <th scope="col" class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody id="tbody">
        {{#each dataCalzados }}
        <tr>

          <td scope="col">{{id}}</td>
          <td scope="col">{{tipo}}</td>
          <td scope="col">{{color}}</td>
          <td scope="col">{{talle}}</td>
          <td scope="col">{{stock}}</td>
          <td><img src={{imageURL}} alt="{{name}}"></td>
          <td scope="col" class="text-center">
            <a href="/secret/{{id}}"><button class="btn btn-danger btn-sm" id="borrar">Borrar</button></a><a
              href="/secret/{{id}}"><button class="btn btn-warning btn-sm" id="cambiar">Cambiar</button></a>
          </td>


        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>